@use '../custom' as *;
@use '../components/mixins' as *;


.menu{
    @include gradient;

    a {
        @include media-breakpoint-down(sm) {
            display: none;
        }
        color: $black;
        }
    

    li{
        padding: 0 0.7rem;

        a{
            color: $white !important;
            text-transform: capitalize;
            font-weight: 600;
        }
    }
}
.home-content{
    color: beige;
    font-weight: 700;
    border-right: 2px;
    border-color: aqua;
    margin-left: 4.5rem;
    padding-left: 2rem;
}